@using ExtensionMethods;
@model List<Card>


@{
    ViewData["Title"] = "Card Dealer: Your card(s)";
}

<h1>Your card(s):</h1>

<div>
    @{
        foreach (var card in Model)
        {
            <img src="@card.Image.GetPNGString()" width="250" height="363" />
        }
    }
</div>








