@using ExtensionMethods;
@model List<Card>


@{
    ViewData["Title"] = "Card Dealer: Your card(s)";
}

<h1>Your card(s):</h1>

<div>
 @{ 
     foreach(Card card in Model)
     {
         <img src="@card.CardUrl"/>
     }
 }
</div>








